body{
background-color:lightBlue;

}
#linkedin{
vertical-align:middle;	
}

#yahoo{
vertical-align:middle;	
	
}

#gmail{
	vertical-align:middle;
	
}
#github{
vertical-align:middle;
	
}

#contactMe{
font-size:30px;	

}
#mainHeading{
text-align:center;

	
}
.footer{
position:fixed;
left:0;
bottom:0;
width:100%;
background-color:lightBlue;
color:navy;
text-align:center;	
font-size:15px;
}