body{
	background-image:url("images/AI.Jpg");
	background-size:1580px;
	background-repeat:no-repeat;

}
#mainMenu{
	text-align:center;
	font-size:20px;
	background-color:black;
	color:white;
	
}

#bio{
	margin-top:20px;
	color:white;
	margin-left:550px;
	text-align:center;
	background-color:gray;
	width:20%;
}
.footer{
	position:fixed;
	left:0px;
	bottom:0px;
	width:100%;
	color:navy;
	background-color:lightBlue;
	text-align:center;
	font-size:15;
	
}
#listMenu{
	color:navy;
	border-radius:10%;
	background-color:silver;
	font-size:20px;
	margin-top:10px;
	margin-left:500px;
	width:40%;
	padding-top:20px;
	padding-bottom:20px;
	width:25%;
	
	
}
#introduction{
	border-radius:5%;
	padding:40px;
	color:navy;
	background-color:white;
	width:20%;
}
#introduction2{
	margin-top:-500px;
	margin-left:900px;
	border-radius:5%;
	padding:10px;
	color:navy;
	background-color:white;
	width:30%;
	
}

#myPic{
	padding:10px;
	border-radius:50%;
	
}